:root{
  --primary: #3498db;
  --secondary: #E4A79D;

  --white: rgba(255,255,255, 1);
  --whiteOpacity1: rgba(255,255,255, 0.3);
  --bg: #fcfafb;
  --textDark: #222;
  --textGrey: #7d7c7c;
  --textGrey2: #9d9c9c;
  --textGrey3: #e5e5e5;
  --textGreyBlue: #acb7b8;
  --textGreyBlue2: #c9cfde;

  --swiper-pagination-color: #acb7b8;
}

body {
  background-color: var(--white);
  color: var(--textGrey);
  line-height: 1.6;

  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}  

main{
  position: relative;
  overflow: hidden;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

p{
  margin: 0;
  font-size: 1rem;
}

a,
button,
h1{
  font-family: "Apercu Mono Pro", "Lucida Typewriter", monospace;
  color: var(--textGrey2);
  font-size: 1rem;
  font-weight: normal;
}

a,
button{
  text-decoration: none;
  cursor: pointer;
}

button{
  border: none;
  background-color: transparent;
  outline: none;
}

.swiper-wrapper {
  min-width: 100vh;
  &__inner {
    width: 100%;
  }
}

.grid{
  padding-bottom: 5rem;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  box-sizing: border-box;

  /* 平板模式 */
  @media (max-width: 1024px) {
    padding: 1.5rem;
  }

  &-header{
    display: flex;
    justify-content: center;

    margin: 4rem auto;
    /* 手機模式 */
    @media (max-width: 480px) {
      margin-bottom: 2rem;
    }
    .nav{
      width: 100%;
      text-align: left;
    }
    h1{
      // font-size: 1.2rem;
      border-bottom: 3px double var(--textGrey3);
    }
  }

  &-container {  
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 預設三欄 */
    grid-auto-rows: auto; /* 自動調整行高 */
    // align-items: stretch; /* 子項目高度撐滿行高 */
    align-items: center; /* 子項目高度撐滿行高 */
    gap: 1.5rem; /* 欄間距 */
  
    /* 平板模式 */
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr); /* 兩欄 */
      gap: 2rem 1rem;
    }
  
    /* 手機模式 */
    @media (max-width: 480px) {
      grid-template-columns: 1fr; /* 一欄 */
      gap: 1rem;
    }
  }

  &-item {
    img{
      width: 100%; /* 確保圖片不超過欄寬 */
      height: auto;    /* 保持圖片比例 */
    }
  }
}

ul{
  list-style-type: circle;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

li{
  font-size: 0.9rem;
  line-height: 2.25;
  border-bottom: 1px solid var(--textGreyBlue2);
  border-bottom-style: dotted;
  color: var(--textGrey);
}
